<div th:insert="fragments/header :: modelheader"></div>

<style>
    *{text-align: center;} .hidden{display:none;}
    table tr td input{
        text-align:center;
    }
    table th{
        padding: 30px;
    }
</style>
<script>
    function altera(objeto){
        let produto={
            id:objeto.parentNode.parentNode.querySelectorAll("input")[0].value,
            nome:objeto.parentNode.parentNode.querySelectorAll("input")[1].value,
            preco:objeto.parentNode.parentNode.querySelectorAll("input")[2].value,
        }
        let quantidade = objeto.parentNode.parentNode.querySelectorAll("input")[3].value;
        console.log(produto);
        console.log(quantidade);
        let url = "/vendas/carrinho/add/"+quantidade;
        console.log(url);

        xhr = new XMLHttpRequest;
        
        xhr.open("POST",url,true);
        
        xhr.onload=function(){
            
            document.location = "/vendas/carrinho";
        }
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(produto));
    }
    function vender(objeto){
        let cliente = {
            id:objeto.parentNode.querySelectorAll("select")[0].value,
            email:objeto.parentNode.querySelectorAll("select")[0].options[objeto.parentNode.querySelectorAll("select")[0].selectedIndex].text
        }
        console.log(cliente);
        let url="/vendas/carrinho/finalizar";
        xhr=new XMLHttpRequest;
        xhr.open("POST",url,true);
        xhr.onload=function(){
            console.log(xhr.status)
            if(xhr.status)
        }
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(JSON.stringify(cliente));
    }

</script>
<div class="container">
<table>
    <tr>
        <th>NomeProduto</th>
        <th>Valor Unitario</th>
        <th>Quantidade</th>
        <th>Valor total</th>
    </tr>
    
    <tr th:each="item : ${carrinho.itensVenda}">
        
        <td><input type="hidden" name="id" th:value="${item.produto.id}" readonly><input type="text" name="id" th:value="${item.produto.nome}" readonly></td>
        <td><input type="text" name="id" th:value="${item.precoUnitario}" readonly></td>
        <td><input type="number" name="id" th:value="${item.quantidade}" onchange="altera(this)" min="0" step="1"></td>
        <td><input type="text" name="id" th:value="${item.precoTotalItemVenda}" readonly></td>
        
    </tr>
    <tr>
        <th colspan="4">Valor Total</th>
    </tr>
    <tr>
        <td colspan="4"><span th:text="${carrinho.valorTotal}"></span></td>
    </tr>
    <tr>
        <td colspan="4"><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" style="width:100%;">Finalizar venda</button></td>
    </tr>
</table>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="padding:30px;">
      <h3>Selecionar E-mail Cliente:</h3>
      <select name="id_usuario" id="id_usuario">
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.email}"></option>
      </select>
      <br>
      <button class="btn btn-primary" onclick="vender(this)">CONFIRMAR</button>
    </div>
  </div>
</div>
<div class="alert alert-danger" th:if="${erros}" th:each="erro : ${erros}" th:errors="${erros.*}"></div>
</div>

<div th:insert="fragments/footer :: modelfooter"></div>