<div th:insert="fragments/header :: modelheader"></div>

    <style>
        table tr td input{
            text-align:center;
        }
        table th{
            padding: 30px;
        }
    </style>
    
    <table>
        <tr style="text-align:center;">
            <th>ID</th>
            <th>Data</th>
            <th>Valor Total</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="venda: ${vendas}">
            <td><input type="text" th:value="${venda['id']}" readonly></td>
            <td><input type="text" th:value="${venda['data']}" readonly></td>
            <td><input type="text" th:value="${venda['valorTotal']}" readonly></td>
            <td><button onclick="detalharVenda()">Detalhar</button></td>
            <td><button onclick="excluirVenda()">Excluir</button></td>
        </tr>
    </table>


<div th:insert="fragments/footer :: modelfooter"></div>