<div th:insert="fragments/header :: modelheader"></div>

    <style>
        table tr td input{
            text-align:center;
        }
        table th{
            padding: 30px;
        }
    </style>
    <script>
        function detalharVenda(botao){
            let trVenda=botao.parentNode.parentNode;
            let id = trVenda.querySelectorAll('input')[0].value;
            let url = "/vendas/"+id+"/detalhes";
            location.href = url;
        }
        function excluirVenda(botao){
            let trVenda=botao.parentNode.parentNode;
            let id = trVenda.querySelectorAll('input')[0].value;
            
            let xhr = new XMLHttpRequest();
            xhr.onload = function(){
                location.href=location.href;
            }
            xhr.open("DELETE","/vendas/"+id,false);
            xhr.send();
            
            
        }
    </script>

    <table>
        <tr style="text-align:center;">
            <th>ID</th>
            <th>Data</th>
            <th>Valor Total</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="venda: ${vendas}">
            <td><input type="text" th:value="${venda['id']}" readonly></td>
            <td><input type="text" th:value="${venda['data']}" readonly></td>
            <td><input type="text" th:value="${venda['valorTotal']}" readonly></td>
            <td><button onclick="detalharVenda(this)">Detalhar</button></td>
            <td><button onclick="excluirVenda(this)">Excluir</button></td>
        </tr>
    </table>


<div th:insert="fragments/footer :: modelfooter"></div>